/*Hòa*/

.logo-team {
    width: 80px;
    height: 80px;
    margin: 5px 0px 5px 0px;
}

.name-team {
    width: 250px;
    height: 35px;
}

.slogan-team {
    width: 180px;
    height: 10px;
    margin: 5px 0px 12px 0px;
}

.nav-team {
    font-size: 25px;
    text-align: center;
    padding-top: 7px;
    border-top: solid #d2d1cf;
    border-bottom: solid #d2d1cf;
    color: #2b2c27;
}

.bg-nav-team {
    background-color: #ececea !important;
}

.nav-link-team {
    color: #2b2c27;
}

.nav-link-team:hover,
.nav-link-team:focus {
    text-decoration: none;
    color: red;
}

.navbar-team {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

/*Nhật*/

/*Đức*/

/*Hiệp*/

/* css for sidebar*/

.sidebar-nav-fixed {
    width: 14%;
}

/* Nhật Đẹp Trai*/

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 12px 12px 0 0;
}

*,
::after,
::before {
    box-sizing: inherit
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card.card-profile [class*=col-] .card-body {
    padding-top: 0px;
}

.card.card-profile [class*=col-] .card-body .card-title {
    margin-top: 10px !important;
}

.card {
    border-radius: 12px;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    color: #333333;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    z-index: 1;
    border: 0 none;
    flex-direction: column;
    /* -webkit-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -moz-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -o-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
    -ms-transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease; */
    transition: transform 300ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 200ms ease;
}

.card-profile {
    margin-top: 30px;
    text-align: center;
}

.card-profile .card-cover {
    height: 130px;
    background-position: center center;
    background-size: cover;
    border-radius: 12px 12px 0 0;
}

.card .card-category {
    color: #9A9A9A;
}

.card-profile .card-body .card-title {
    margin-top: 5px !important;
}

.card .card-category i,
.card .label i {
    font-size: 15px;
}

.card h6 {
    font-size: 12px;
    margin: 0;
}

.card-profile .card-body .card-category {
    margin-bottom: 5px;
    margin-top: 5px;
}

.card-title {
    margin-bottom: .75rem;
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}

.card>.card-title {
    margin: 0;
    padding: 30px 0 0;
}

.card-profile .card-avatar {
    max-width: 120px;
    max-height: 120px;
    margin: -60px auto 0;
    border-radius: 50%;
    overflow: hidden;
}

.border-white {
    border-color: #fff !important
}

.card-profile .card-avatar.border-white {
    border: 4px solid #FFFFFF;
}

.card-profile .card-avatar.border-gray {
    border: 4px solid #ccc;
}

.card .card-body .card-description+.card-footer {
    padding-top: 10px;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: rgba(0, 0, 0, .03);
    border-top: 1px solid rgba(0, 0, 0, .125)
}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px)
}

.card .card-body .card-footer {
    padding: 0;
}

.card .card-footer {
    padding: 15px;
    background: transparent;
    border-top: 0 none;
}

.card .card-description {
    color: #9A9A9A;
    margin-bottom: 5px;
    margin-top: 15px;
}

.card .card-body .card-title {
    margin: 5px 0 0 0;
}

.card .card-body .card-category~.card-title {
    margin-top: 5px;
}

.card .card-body {
    padding: 20px;
}

.card[data-background="image"]:after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.56);
    border-radius: 12px;
}

.card[data-background="image"] .card-category {
    color: #FFFFFF;
}

.card[data-background="image"] .image,
.card[data-background="color"] .image,
.card[data-color] .image {
    border-radius: 6px;
}

.card[data-background="image"] .filter,
.card[data-background="color"] .filter,
.card[data-color] .filter {
    border-radius: 6px;
}

.card[data-background="image"] .card-description,
.card[data-background="color"] .card-description,
.card[data-color] .card-description {
    color: rgba(255, 255, 255, 0.7);
}

.card[data-background="image"] .card-title,
.card[data-background="image"] .card-category,
.card[data-background="image"] .card-text,
.card[data-background="image"] .card-body,
.card[data-background="image"] .card-footer,
.card[data-background="image"] .stats,
.card[data-background="image"] small,
.card[data-background="image"] [class*="text-"],
.card[data-background="image"] ul li b,
.card[data-background="image"] a:not(.btn),
.card[data-background="color"] .card-title,
.card[data-background="color"] .card-category,
.card[data-background="color"] .card-text,
.card[data-background="color"] .card-body,
.card[data-background="color"] .card-footer,
.card[data-background="color"] .stats,
.card[data-background="color"] small,
.card[data-background="color"] [class*="text-"],
.card[data-background="color"] ul li b,
.card[data-background="color"] a:not(.btn),
.card[data-color] .card-title,
.card[data-color] .card-category,
.card[data-color] .card-text,
.card[data-color] .card-body,
.card[data-color] .card-footer,
.card[data-color] .stats,
.card[data-color] small,
.card[data-color] [class*="text-"],
.card[data-color] ul li b,
.card[data-color] a:not(.btn) {
    color: #FFFFFF !important;
}

.card[data-background="image"] a:not(.btn):hover,
.card[data-background="image"] a:not(.btn):focus,
.card[data-background="color"] a:not(.btn):hover,
.card[data-background="color"] a:not(.btn):focus,
.card[data-color] a:not(.btn):hover,
.card[data-color] a:not(.btn):focus {
    color: #FFFFFF;
}

.card[data-background="image"] .card-icon i,
.card[data-background="color"] .card-icon i,
.card[data-color] .card-icon i {
    color: #FFFFFF;
    border: 2px solid rgba(255, 255, 255, 0.3);
}

.card[data-background="image"].card-with-border:after,
.card[data-background="color"].card-with-border:after,
.card[data-color].card-with-border:after {
    border: 1px solid rgba(255, 255, 255, 0.45);
}

.card[data-background="image"] .card-title {
    color: #FFF;
    margin-top: 10px;
}

.card[data-background="image"] .filter {
    opacity: 0.55;
    filter: alpha(opacity=55);
}

.card[data-background="image"]:hover .filter {
    opacity: 0.75;
    filter: alpha(opacity=75);
}

.card[data-color="blue"] {
    background: #6ec7e0;
}

.card[data-color="green"] {
    background: #86d9ab;
}

.card[data-color="yellow"] {
    background: #fcd27b;
}

.card[data-color="brown"] {
    background: #e4c4a1;
}

.card[data-color="purple"] {
    background: #cc90cc;
}

.card[data-color="orange"] {
    background: #f7765f;
}

.text-center {
    text-align: center !important
}

.centered-h1 {
    text-align: center;
}

.btn-just-icon {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    min-width: 40px;
    padding: 8px;
}

.btn-just-icon i {
    font-size: 16px;
    padding: 2px 0px;
}

.btn-dribbble {
    color: #FFFFFF;
    background-color: #ea4c89;
    border-color: #ea4c89;
    opacity: 0.8;
}

.btn-dribbble:hover,
.btn-dribbble:focus,
.btn-dribbble:active,
.btn-dribbble.active,
.open>.btn-dribbble.dropdown-toggle {
    background-color: #ea4c89;
    border-color: #ea4c89;
    color: #FFFFFF;
    opacity: 1;
}

.btn-facebook {
    color: #FFFFFF;
    background-color: #3b5998;
    border-color: #3b5998;
    opacity: 0.8;
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active,
.open>.btn-facebook.dropdown-toggle {
    background-color: #3b5998;
    border-color: #3b5998;
    color: #FFFFFF;
    opacity: 1;
}

.btn {
    box-sizing: border-box;
    border-width: 2px;
    font-size: 12px;
    font-weight: 600;
    padding: 0.5rem 18px;
    line-height: 1.75;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #66615B;
    border-color: #66615B;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: .25rem;
    transition: all .15s ease-in-out
}

.fa-facebook-square:before {
    content: "\f082"
}

.icon-home {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-home:before {
    content: "\e0a8";
}

.footerwrap {
    background: #2b2b2b;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.footerwrap h4 {
    color: white;
}

.fa-heart {
    color: #EB5E28;
}

.fa {
    display: inline-block;
}

.heart {
    color: #EB5E28;
    animation: heathing 1s ease infinite;
}

@keyframes heathing {
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
    }
}

.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
    display: table;
    content: " ";
}

.form-horizontal .form-group:after {
    clear: both;
}

p {
    font-size: 15px;
    line-height: 1.5em;
    display: block;
}

/* Nhât Đẹp Trai */