/*Hiệp*/

/* css for sidebar*/

.sidebar-box-team {
    margin-bottom: 30px;
    color: #898989;
    font: 300 16px 'Roboto', Helvetica, Arial, sans-serif;
}

.sidebar-box-heading-team {
    color: #fff;
    text-transform: uppercase;
    background: #898989;
    overflow: hidden;
    height: 50px;
    padding: 12px 20px 12px 40px;
}

.sidebar-box-content-team {
    background: #fff;
}

.news-table-team {
    width: 100%;
    background: #fff;
}

.news-table-team tr {
    padding-left: 20px;
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
}

.news-table-team {
    background: #f7f7f7;
}

.news-table-team .post-thumbnail-team {
    width: 45%;
    padding: 10px 10px 10px 15px;
}

.news-table-team .post-thumbnail-team img {
    width: 100%;
}

.news-table-team .post-info-team {
    background: transparent;
    overflow: hidden;
    padding: 5px 20px 5px 5px;
}

.news-table-team .post-info-team p,
.news-table-team .post-info-team span.date,
.news-table-team .post-info-team span.views {
    font-size: 14px;
    margin: 0 0 5px;
}

span.date-team {
    font-size: 11px;
    color: #7a8188;
}

span. {
    font-size: 11px;
    color: #7a8188;
}

.news-table-team .post-info-team a:hover {
    color: red;
}

/* end css Hiep */

/*Duc*/

/*End CSS Duc*/